In [1]:
import pandas as pd
import numpy as np

#### pandas.read_csv(filepath_or_buffer, sep=', ', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
Read CSV (comma-separated) file into DataFrame

In [3]:
tips = pd.read_csv('data/tips.csv')
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [4]:
tips['tip%'] = round(tips['tip'] / tips['total_bill'] * 100, 1)
tips.head()

   total_bill   tip smoker  day    time  size  tip%
0       16.99  1.01     No  Sun  Dinner     2   5.9
1       10.34  1.66     No  Sun  Dinner     3  16.1
2       21.01  3.50     No  Sun  Dinner     3  16.7
3       23.68  3.31     No  Sun  Dinner     2  14.0
4       24.59  3.61     No  Sun  Dinner     4  14.7

#### DataFrame.to_csv(path_or_buf=None, sep=', ', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression=None, quoting=None, quotechar='"', line_terminator='\n', chunksize=None, tupleize_cols=None, date_format=None, doublequote=True, escapechar=None, decimal='.')
Write DataFrame to a comma-separated values (csv) file

In [6]:
tips.to_csv('data/tips_new.csv')

In [7]:
tips2 = tips.sort_values(by=['tip%'], ascending=False)
tips2.head()

     total_bill   tip smoker  day    time  size  tip%
172        7.25  5.15    Yes  Sun  Dinner     2  71.0
178        9.60  4.00    Yes  Sun  Dinner     2  41.7
67         3.07  1.00    Yes  Sat  Dinner     1  32.6
232       11.61  3.39     No  Sat  Dinner     2  29.2
183       23.17  6.50    Yes  Sun  Dinner     4  28.1

In [8]:
tips2 = tips2.reset_index(drop=True)
tips2.head()

   total_bill   tip smoker  day    time  size  tip%
0        7.25  5.15    Yes  Sun  Dinner     2  71.0
1        9.60  4.00    Yes  Sun  Dinner     2  41.7
2        3.07  1.00    Yes  Sat  Dinner     1  32.6
3       11.61  3.39     No  Sat  Dinner     2  29.2
4       23.17  6.50    Yes  Sun  Dinner     4  28.1

In [9]:
tips[tips['size'] == 6]

     total_bill  tip smoker   day    time  size  tip%
125       29.80  4.2     No  Thur   Lunch     6  14.1
141       34.30  6.7     No  Thur   Lunch     6  19.5
143       27.05  5.0     No  Thur   Lunch     6  18.5
156       48.17  5.0     No   Sun  Dinner     6  10.4

In [10]:
print(tips[tips['size'] == 6].shape)
print(tips[tips['size'] == 6].shape[0])

(4, 7)
4

In [11]:
for ppl in range(1, 7):
    print(f'Avg. tip from a table for {ppl} people = ${tips[tips["size"] == ppl]["total_bill"].mean():.2f}')

Avg. tip from a table for 1 people = $7.24
Avg. tip from a table for 2 people = $16.45
Avg. tip from a table for 3 people = $23.28
Avg. tip from a table for 4 people = $28.61
Avg. tip from a table for 5 people = $30.07
Avg. tip from a table for 6 people = $34.83

In [12]:
print(f'Minimum tip% in total bill: {tips["tip%"].min()}%')
print(f'Maximum tip% in total bill: {tips["tip%"].max()}%')

Minimum tip% in total bill: 3.6%
Maximum tip% in total bill: 71.0%

#### pandas.read_html(io, match='.+', flavor=None, header=None, index_col=None, skiprows=None, attrs=None, parse_dates=False, tupleize_cols=None, thousands=', ', encoding=None, decimal='.', converters=None, na_values=None, keep_default_na=True, displayed_only=True)
Read HTML tables into a list of DataFrame objects.

In [13]:
url = 'https://en.wikichip.org/wiki/mediatek/helio'

tables = pd.read_html(url)
print(f'Number of tables on the webpage: {len(tables)}')
tables[3].head()

Number of tables on the webpage: 6

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,List of Helio X-based Processors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Main processor,Max Memory,GPU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Model,Launched,Process,ISA,Cores,Cores,Frequency,Max Mem,Mem Type,Designer,Name,Frequency
3,Helio X10,27 March 2015,28 nm0.028 μm 2.8e-5 mm,ARMv8,Cortex-A53,8,"2 GHz2,000 MHz 2,000,000 kHz","4 GiB4,096 MiB 4,194,304 KiB 4,294,967,296 B 0...",LPDDR3-1866,Imagination Technologies,PowerVR G6200,"700 MHz0.7 GHz 700,000 KHz"
4,Helio X10 M,27 March 2015,28 nm0.028 μm 2.8e-5 mm,ARMv8,Cortex-A53,8,"2 GHz2,000 MHz 2,000,000 kHz","4 GiB4,096 MiB 4,194,304 KiB 4,294,967,296 B 0...",LPDDR3-1866,Imagination Technologies,PowerVR G6200,"550 MHz0.55 GHz 550,000 KHz"

In [14]:
table = tables[3].copy()
table.columns = [
    'Model',
    'Launched',
    'Process',
    'ISA',
    'Cores',
    'Cores',
    'CPU_Freq',
    'Max Mem',
    'Mem Type',
    'Designer',
    'Name',
    'GPU_Freq']

table.drop([0, 1, 2, 12], axis=0, inplace=True)
table.reset_index(drop=True, inplace=True)

table['Process'] = table['Process'].apply(lambda x: str(x).split('nm')[0] + 'nm')
table['CPU_Freq'] = table['CPU_Freq'].apply(lambda x: str(x).split('GHz')[0] + 'GHz')
table['Max Mem'] = table['Max Mem'].apply(lambda x: str(x).split('GiB')[0] + 'GB')
table['GPU_Freq'] = table['GPU_Freq'].apply(lambda x: str(x).split('MHz')[0] + 'MHz')

table

,Model,Launched,Process,ISA,Cores,Cores,CPU_Freq,Max Mem,Mem Type,Designer,Name,GPU_Freq
0,Helio X10,27 March 2015,28 nm,ARMv8,Cortex-A53,8,2 GHz,4 GB,LPDDR3-1866,Imagination Technologies,PowerVR G6200,700 MHz
1,Helio X10 M,27 March 2015,28 nm,ARMv8,Cortex-A53,8,2 GHz,4 GB,LPDDR3-1866,Imagination Technologies,PowerVR G6200,550 MHz
2,Helio X10 T,27 March 2015,28 nm,ARMv8,Cortex-A53,8,2.2 GHz,4 GB,LPDDR3-1866,Imagination Technologies,PowerVR G6200,700 MHz
3,Helio X20 M,16 March 2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2 GHz,6 GB,LPDDR3-1866,ARM Holdings,Mali-T880,780 MHz
4,Helio X23,2 December 2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2.3 GHz,4 GB,LPDDR3-1600,ARM Holdings,Mali-T880,780 MHz
5,Helio X25,16 March 2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2.5 GHz,6 GB,LPDDR3-1600,ARM Holdings,Mali-T880,850 MHz
6,Helio X27,2 December 2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2.6 GHz,nanGB,LPDDR3-1600,ARM Holdings,Mali-T880,875 MHz
7,Helio X30,27 February 2017,10 nm,ARMv8,"Cortex-A35, Cortex-A53, Cortex-A73",10,2.5 GHz,8 GB,LPDDR4X-3732,Imagination Technologies,PowerVR GT7400 Plus,800 MHz
8,Helio X20,16 March 2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,1.85 GHz,nanGB,LPDDR3-1600,ARM Holdings,Mali-T880,780 MHz

#### DataFrame.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, encoding=None, inf_rep='inf', verbose=True, freeze_panes=None)
Write DataFrame to an excel sheet

In [15]:
excel_writer = pd.ExcelWriter('data/Helio.xlsx')
table.to_excel(excel_writer, 'Helio-X')

#### pandas.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, **kwds)
Read an Excel table into a pandas DataFrame

In [16]:
xlsx = pd.ExcelFile('data/Helio.xlsx')
df = pd.read_excel(xlsx, sheet_name='Helio-X', header=0, index_col=0)
df.set_index('Model', inplace=True)
df.tail()

,Launched,Process,ISA,Cores,Cores.1,CPU_Freq,Max Mem,Mem Type,Designer,Name,GPU_Freq
Model,,,,,,,,,,,
Helio X20 M,16 March 2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2 GHz,6 GB,LPDDR3-1866,ARM Holdings,Mali-T880,780 MHz
Helio X23,2 December 2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2.3 GHz,4 GB,LPDDR3-1600,ARM Holdings,Mali-T880,780 MHz
Helio X25,16 March 2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2.5 GHz,6 GB,LPDDR3-1600,ARM Holdings,Mali-T880,850 MHz
Helio X27,2 December 2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2.6 GHz,nanGB,LPDDR3-1600,ARM Holdings,Mali-T880,875 MHz
Helio X30,27 February 2017,10 nm,ARMv8,"Cortex-A35, Cortex-A53, Cortex-A73",10,2.5 GHz,8 GB,LPDDR4X-3732,Imagination Technologies,PowerVR GT7400 Plus,800 MHz

In [17]:
print(df.loc['Helio X30']['Process'])
print(df.loc['Helio X30']['Launched'])

10 nm
27 February 2017

In [18]:
def month2num(x):
    day, month, year = x.split(' ')
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'Octobor', 'November', 'December']
    return '/'.join([str(months.index(month)+1), day, year])
    
df['Launched'] = df['Launched'].apply(month2num)
df

,Launched,Process,ISA,Cores,Cores.1,CPU_Freq,Max Mem,Mem Type,Designer,Name,GPU_Freq
Model,,,,,,,,,,,
Helio X10,3/27/2015,28 nm,ARMv8,Cortex-A53,8,2 GHz,4 GB,LPDDR3-1866,Imagination Technologies,PowerVR G6200,700 MHz
Helio X10 M,3/27/2015,28 nm,ARMv8,Cortex-A53,8,2 GHz,4 GB,LPDDR3-1866,Imagination Technologies,PowerVR G6200,550 MHz
Helio X10 T,3/27/2015,28 nm,ARMv8,Cortex-A53,8,2.2 GHz,4 GB,LPDDR3-1866,Imagination Technologies,PowerVR G6200,700 MHz
Helio X20,3/16/2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,1.85 GHz,nanGB,LPDDR3-1600,ARM Holdings,Mali-T880,780 MHz
Helio X20 M,3/16/2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2 GHz,6 GB,LPDDR3-1866,ARM Holdings,Mali-T880,780 MHz
Helio X23,12/2/2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2.3 GHz,4 GB,LPDDR3-1600,ARM Holdings,Mali-T880,780 MHz
Helio X25,3/16/2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2.5 GHz,6 GB,LPDDR3-1600,ARM Holdings,Mali-T880,850 MHz
Helio X27,12/2/2016,20 nm,ARMv8,"Cortex-A53, Cortex-A72",10,2.6 GHz,nanGB,LPDDR3-1600,ARM Holdings,Mali-T880,875 MHz
Helio X30,2/27/2017,10 nm,ARMv8,"Cortex-A35, Cortex-A53, Cortex-A73",10,2.5 GHz,8 GB,LPDDR4X-3732,Imagination Technologies,PowerVR GT7400 Plus,800 MHz