In [1]:
empty_list_1 = []
empty_list_2 = list()
print('empty_list_1:', empty_list_1)
print('empty_list_2:', empty_list_2)

empty_list_1: []
empty_list_2: []

In [2]:
alphabets_cat = list('cat')
print('alphabets_cat: ', alphabets_cat)

alphabets_cat:  ['c', 'a', 't']

In [3]:
birthday = '1981/10/12'
birthday = birthday.split('/')
print(f'He was born on {birthday[1]}/{birthday[2]} in {birthday[0]}.')

He was born on 10/12 in 1981.

In [4]:
birthday = '1981/10/12'
birthday = birthday.replace('/', '-')
print(birthday)

1981-10-12

In [5]:
names = ['Ann', 'Bob', 'Claire', 'Ellen']
foods = ['pizza', 'hamburg', 'fruits', 'steak']
list_2D = [names, foods]
print(list_2D)

[['Ann', 'Bob', 'Claire', 'Ellen'], ['pizza', 'hamburg', 'fruits', 'steak']]

In [7]:
print(f'{list_2D[0][2]} loves {list_2D[1][2]}.')

Claire loves fruits.

In [9]:
names = ['Ann', 'Bob', 'Claire', 'Ellen']
names.append('Frank')
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', 'Frank']

In [12]:
names = ['Ann', 'Bob', 'Claire', 'Ellen']
names.append(['Frank', 'George'])
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', ['Frank', 'George']]

In [13]:
names = ['Ann', 'Bob', 'Claire', 'Ellen']
names.extend(['Frank', 'George'])
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']

In [14]:
names = ['Ann', 'Bob', 'Claire', 'Ellen']
names += ['Frank', 'George']
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']

In [15]:
names = ['Ann', 'Bob', 'Claire', 'Frank']
names.insert(3, 'Ellen')
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', 'Frank']

In [17]:
names = ['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']
names.pop()
print(names)
names.pop(2)
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', 'Frank']
['Ann', 'Bob', 'Ellen', 'Frank']

In [21]:
names = ['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']
names.remove('Bob')
print(names)
del names[2]
print(names)

['Ann', 'Claire', 'Ellen', 'Frank', 'George']
['Ann', 'Claire', 'Frank', 'George']

In [23]:
names = ['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']
print(names.index('Bob'))

1

In [25]:
print('Ann is in the name list:', 'Ann' in names)
print('Claire is not in the name list:', 'Claire' not in names)

Ann is in the name list: True
Claire is not in the name list: False

In [26]:
names = ['Ann', 'Bob', 'Claire', 'Ann', 'Frank', 'George']
print('There are', names.count('Ann'), 'Ann in the name list.')

There are 2 Ann in the name list.

In [27]:
names = ['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']
print('We have', ', '.join(names), 'in the team.')

We have Ann, Bob, Claire, Ellen, Frank, George in the team.

In [30]:
num_list = [5, 1, 9, 1, 9, 2, 6]
num_list.sort()
print(num_list)

[1, 1, 2, 5, 6, 9, 9]

In [31]:
num_list = [5, 1, 9, 1, 9, 2, 6]
print(sorted(num_list))
print(num_list)

[1, 1, 2, 5, 6, 9, 9]
[5, 1, 9, 1, 9, 2, 6]

In [32]:
num_list = [5, 1, 9, 1, 9, 2, 6]
num_list.sort(reverse=True)
print(num_list)

[9, 9, 6, 5, 2, 1, 1]

In [34]:
num_list = [5, 1, 9, 1, 9, 2, 6]
num_list_1 = num_list
num_list_2 = num_list.copy()
print(num_list_1)
print(id(num_list_1))
print(num_list_2)
print(id(num_list_2))
print(num_list_1 == num_list_2)
print(num_list_1 is num_list_2)

[5, 1, 9, 1, 9, 2, 6]
4610764680
[5, 1, 9, 1, 9, 2, 6]
4610767112
True
False

In [36]:
num_list_2[0] = 0
print(num_list)
print(num_list_1)
print(num_list_2)

[5, 1, 9, 1, 9, 2, 6]
[5, 1, 9, 1, 9, 2, 6]
[0, 1, 9, 1, 9, 2, 6]

In [37]:
num_list_1[0] = 7
print(num_list)
print(num_list_1)
print(num_list_2)

[7, 1, 9, 1, 9, 2, 6]
[7, 1, 9, 1, 9, 2, 6]
[0, 1, 9, 1, 9, 2, 6]

In [40]:
num_list = [5, 1, 9, 1, 9, 2, 6]
num_list_1 = num_list.copy()
num_list_2 = num_list[:]
num_list_3 = list(num_list)
print(num_list == num_list_1 == num_list_2 == num_list_3)
print(id(num_list))
print(id(num_list_1))
print(id(num_list_2))
print(id(num_list_3))

True
4610687048
4610687176
4592167816
4610912456

In [41]:
# tuple
fruit_tp = 'apple', 'blueberry', 'cherry'
print(fruit_tp)

('apple', 'blueberry', 'cherry')

In [42]:
# tuple
fruit_tp = ('apple', 'blueberry', 'cherry')  # easy to read
print(fruit_tp)

('apple', 'blueberry', 'cherry')

In [43]:
# tuple unpacking
x, y, z = fruit_tp
print(x)
print(y)
print(z)

apple
blueberry
cherry

In [45]:
print(fruit_tp[:])
print(fruit_tp[:2])
print(fruit_tp[2])

('apple', 'blueberry', 'cherry')
('apple', 'blueberry')
cherry

In [46]:
# tuple is immutable
fruit_tp[1] = 'berries'

TypeError: 'tuple' object does not support item assignment

In [48]:
names = ['Ann', 'Bob', 'Claire', 'Ellen']
foods = ['pizza', 'hamburg', 'fruits', 'steak']
favorite_food = dict(zip(names, foods))
print(favorite_food)

{'Ann': 'pizza', 'Bob': 'hamburg', 'Claire': 'fruits', 'Ellen': 'steak'}

In [52]:
print(favorite_food.keys())
print(favorite_food.values())
print(favorite_food.items())
print(favorite_food['Ann'])

dict_keys(['Ann', 'Bob', 'Claire', 'Ellen'])
dict_values(['pizza', 'hamburg', 'fruits', 'steak'])
dict_items([('Ann', 'pizza'), ('Bob', 'hamburg'), ('Claire', 'fruits'), ('Ellen', 'steak')])
pizza

In [53]:
del favorite_food['Ann']
print(favorite_food)

{'Bob': 'hamburg', 'Claire': 'fruits', 'Ellen': 'steak'}

In [54]:
favorite_food.clear()
print(favorite_food)

{}

In [57]:
favorite_food = {'Ann': 'pizza', 'Bob': 'hamburg', 'Claire': 'fruits', 'Ellen': 'steak'}
print('Ann is in the keys:', 'Ann' in favorite_food)
print('Frank is not in the keys:', 'Frank' not in favorite_food)

Ann is in the keys: True
Frank is not in the keys: True

In [59]:
print(favorite_food.get('Ann', 'not in the dict'))
print(favorite_food.get('Frank', 'not in the dict'))

pizza
not in the dict

In [62]:
empty_set = set()
print(type(set()))
print(type({}))

<class 'set'>
<class 'dict'>

In [64]:
num_list = [5, 1, 9, 1, 9, 2, 6]
print(set(num_list))

{1, 2, 5, 6, 9}

In [65]:
num = input('Please input 4 different numbers: ')
if len(set(num)) == 4:
    print('OK')
else:
    print('Oops')

Please input 4 different numbers: 1123
Oops

In [77]:
num_list_1 = set([7, 4, 0, 5, 2, 9, 6])
num_list_2 = set([2, 5, 3, 1, 3, 3, 0])
print(num_list_1)
print(num_list_2)

{0, 2, 4, 5, 6, 7, 9}
{0, 1, 2, 3, 5}

In [80]:
print(num_list_1.intersection(num_list_2))
print(num_list_1.union(num_list_2))
print(num_list_1.difference(num_list_2))
print(num_list_1.symmetric_difference(num_list_2))

{0, 2, 5}
{0, 1, 2, 3, 4, 5, 6, 7, 9}
{9, 4, 6, 7}
{1, 3, 4, 6, 7, 9}

In [81]:
print(num_list_1 & num_list_2)
print(num_list_1 | num_list_2)
print(num_list_1 - num_list_2)
print(num_list_1 ^ num_list_2)

{0, 2, 5}
{0, 1, 2, 3, 4, 5, 6, 7, 9}
{9, 4, 6, 7}
{1, 3, 4, 6, 7, 9}

In [87]:
num_list_1 = set([5, 2, 5])
num_list_2 = set([7, 4, 0, 5, 2, 9, 6])
print(num_list_1.issubset(num_list_2))
print(num_list_2.issuperset(num_list_1))
print(num_list_1 <= num_list_2)
print(num_list_2 >= num_list_1)

True
True
True
True