## Python Basics
- list

- tuple

- dictionary

- set

- Use PythonTutor to visualize how the value of a variable is changed or is not changed
(http://www.pythontutor.com/live.html#mode=edit)

In [1]:
# list: iterable, mutable
# two ways to create an empty list
empty_list_1 = []
empty_list_2 = list()
print('empty_list_1:', empty_list_1)
print('empty_list_2:', empty_list_2)

empty_list_1: []
empty_list_2: []

In [2]:
# list() can convert a string into a list of characters
alphabets = list('elephant')
print(alphabets)

['e', 'l', 'e', 'p', 'h', 'a', 'n', 't']

In [3]:
# str.split() to split a string into sub-strings
birthday = '1981-10-12'
birthday = birthday.split('-')
print(birthday)
print(f'He was born on {birthday[1]}/{birthday[2]} in {birthday[0]}.')

['1981', '10', '12']
He was born on 10/12 in 1981.

In [4]:
# str.replace(src_str, dst_str) to replace src_str with dst_str (not an inplace operation)
birthday = '1981/10/12'
print(birthday.replace('/', '-'))
print(birthday)
new_birthday = birthday.replace('/', '-')
print(new_birthday)

1981-10-12
1981/10/12
1981-10-12

In [5]:
# a list of list -> similar to 2D-array
names = ['Ann', 'Bob', 'Claire', 'Dan', 'Ellen']
foods = ['pizza', 'hamburg', 'fruits', 'spaghetti', 'steak']
list_2D = [names, foods]
print(list_2D)
print(list_2D[0])
print(list_2D[1])

[['Ann', 'Bob', 'Claire', 'Dan', 'Ellen'], ['pizza', 'hamburg', 'fruits', 'spaghetti', 'steak']]
['Ann', 'Bob', 'Claire', 'Dan', 'Ellen']
['pizza', 'hamburg', 'fruits', 'spaghetti', 'steak']

In [6]:
print(list_2D[0][2])
print(list_2D[1][2])

Claire
fruits

In [7]:
# Use index to get values in a list
for i, name in enumerate(list_2D[0]):
    print(name, 'loves', list_2D[1][i])

Ann loves pizza
Bob loves hamburg
Claire loves fruits
Dan loves spaghetti
Ellen loves steak

In [8]:
# list.append(), add a new element to the end of a list
names = ['Ann', 'Bob', 'Claire', 'Dan', 'Ellen']
names.append('Frank')
print(names)

['Ann', 'Bob', 'Claire', 'Dan', 'Ellen', 'Frank']

In [9]:
# This will append a list of two elements to a list
names = ['Ann', 'Bob', 'Claire', 'Dan', 'Ellen']
names.append(['Frank', 'George'])
print(names)
print(names[5])

['Ann', 'Bob', 'Claire', 'Dan', 'Ellen', ['Frank', 'George']]
['Frank', 'George']

In [10]:
# list.extend() to add multiple elements to a list
names = ['Ann', 'Bob', 'Claire', 'Dan', 'Ellen']
names.extend(['Frank', 'George'])
print(names)
print(names[5])

['Ann', 'Bob', 'Claire', 'Dan', 'Ellen', 'Frank', 'George']
Frank

In [11]:
# use "+" to easily concatenate two lists
names = ['Ann', 'Bob', 'Claire', 'Dan', 'Ellen']
names += ['Frank', 'George']
print(names)

['Ann', 'Bob', 'Claire', 'Dan', 'Ellen', 'Frank', 'George']

In [12]:
# list.insert(index, element), insert a new element to the designated position in a list
names = ['Ann', 'Bob', 'Dan', 'Ellen']
names.insert(2, 'Claire')
print(names)

['Ann', 'Bob', 'Claire', 'Dan', 'Ellen']

In [13]:
# list.pop() to take out the last element in a list
names = ['Ann', 'Bob', 'Claire', 'Dan', 'Ellen', 'Frank', 'George']
names.pop()
print(names)

# list.pop(index) to take out an element at the designated position in a list
names.pop(2)
print(names)

['Ann', 'Bob', 'Claire', 'Dan', 'Ellen', 'Frank']
['Ann', 'Bob', 'Dan', 'Ellen', 'Frank']

In [14]:
names = ['Ann', 'Bob', 'Claire', 'Dan', 'Ellen', 'Frank', 'George']
names_temp =names.copy()
for i in range(len(names_temp)):
    n = names_temp.pop()
    print(n)

George
Frank
Ellen
Dan
Claire
Bob
Ann

In [15]:
print(names)

['Ann', 'Bob', 'Claire', 'Dan', 'Ellen', 'Frank', 'George']

In [16]:
# list.remove() to remove an element from a list
names = ['Ann', 'Bob', 'Claire', 'Dan', 'Ellen', 'Frank', 'George']
names.remove('Bob')
print(names)

# del to delete an element at the designated position in a list
del names[2]
print(names)

['Ann', 'Claire', 'Dan', 'Ellen', 'Frank', 'George']
['Ann', 'Claire', 'Ellen', 'Frank', 'George']

In [17]:
# list.index(element), get the index of an element in a list
names = ['Ann', 'Bob', 'Claire', 'Dan', 'Ellen', 'Frank', 'George']

name_to_find = 'Claire'
if name_to_find in names:
    user_index = names.index(name_to_find)
    print(user_index)
else:
    print('name not found')
    
print(foods[user_index])

2
fruits

In [18]:
# "in" to check whether an element is in a list, return True or False
print('Ann is in the name list:', 'Ann' in names)

# "not in" to check whether an element is not in a list, return True or False
print('Claire is not in the name list:', 'Claire' not in names)

Ann is in the name list: True
Claire is not in the name list: False

In [19]:
# list.count() to count how many elements are contained in a list
names = ['Ann', 'Bob', 'Claire', 'Ann', 'Frank', 'Ann']
print('There are', names.count('Ann'), 'Ann in the name list.')

There are 3 Ann in the name list.

In [20]:
# 'string'.join(list) to join all elements in a list, separated by the designated string
names = ['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']
joint_names = ', '.join(names)
print('We have', joint_names, 'in the team.')

We have Ann, Bob, Claire, Ellen, Frank, George in the team.

In [21]:
# list.sort() to sort values in a list (default: ascending), "inplace" operation
numbers = [5, 1, 9, 1, 9, 2, 6]
numbers.sort()
print(numbers)

[1, 1, 2, 5, 6, 9, 9]

In [22]:
# list.sort() to sort values in a list ("reverse" to change the order into descending)
numbers = [5, 1, 9, 1, 9, 2, 6]
numbers.sort(reverse=True)
print(numbers)

[9, 9, 6, 5, 2, 1, 1]

In [23]:
# sorted(): Python's built-in function for sorting, not an inplace operation
num_list = [5, 1, 9, 1, 9, 2, 6]
print(sorted(num_list))
print(num_list)

[1, 1, 2, 5, 6, 9, 9]
[5, 1, 9, 1, 9, 2, 6]

In [24]:
# list.copy() to duplicate a list (different id)
numbers = [5, 1, 9, 1, 9, 2, 6]
numbers_1 = numbers
numbers_2 = numbers.copy()
print(numbers_1)
print(id(numbers_1))
print(numbers_2)
print(id(numbers_2))

# "==" to check whether the values are equal
print(numbers_1 == numbers_2)

# "is" to check whether two objects are identical
print(numbers_1 is numbers_2)

[5, 1, 9, 1, 9, 2, 6]
4449734216
[5, 1, 9, 1, 9, 2, 6]
4450747016
True
False

In [25]:
# Be careful not to accidentally change values of a list unless you want to do it
numbers_2[0] = 0
print(numbers)
print(numbers_1)
print(numbers_2)

[5, 1, 9, 1, 9, 2, 6]
[5, 1, 9, 1, 9, 2, 6]
[0, 1, 9, 1, 9, 2, 6]

In [26]:
# Be careful not to accidentally change values of a list unless you want to do it
numbers_1[0] = 7
print(numbers)
print(numbers_1)
print(numbers_2)

[7, 1, 9, 1, 9, 2, 6]
[7, 1, 9, 1, 9, 2, 6]
[0, 1, 9, 1, 9, 2, 6]

In [27]:
# Three ways to duplicate a list
numbers = [5, 1, 9, 1, 9, 2, 6]
numbers_1 = num_list.copy()
numbers_2 = num_list[:]
numbers_3 = list(num_list)
print(numbers == numbers_1 == numbers_2 == numbers_3)
print(id(numbers))
print(id(numbers_1))
print(id(numbers_2))
print(id(numbers_3))

True
4449206984
4449207560
4449207752
4450749768

In [28]:
# tuple: immutable (elements separated by ",")
fruit_tp = 'apple', 'blueberry', 'cherry'
print(fruit_tp)

('apple', 'blueberry', 'cherry')

In [29]:
# tuple
fruit_tp = ('apple', 'blueberry', 'cherry')  # easier to read with ()
print(fruit_tp)

('apple', 'blueberry', 'cherry')

In [30]:
# tuple unpacking
x, y, z = fruit_tp
print(x)
print(y)
print(z)

apple
blueberry
cherry

In [31]:
# tuple supports indexing
print(fruit_tp[:])
print(fruit_tp[:2])
print(fruit_tp[2])

('apple', 'blueberry', 'cherry')
('apple', 'blueberry')
cherry

In [32]:
# tuple is immutable
fruit_tp[1] = 'berries'

TypeError: 'tuple' object does not support item assignment

In [33]:
# zip() & dict()
names = ['Ann', 'Bob', 'Claire', 'Dan']
foods = ['pizza', 'hamburg', 'fruits', 'steak']
food_preference = dict(zip(names, foods))
print(food_preference)

{'Ann': 'pizza', 'Bob': 'hamburg', 'Claire': 'fruits', 'Dan': 'steak'}

In [34]:
# key-value pairs in dict
print(food_preference.keys())
print(food_preference.values())
print(food_preference.items())

# dict uses key (unique) to retrieve value
print(food_preference['Ann'])

dict_keys(['Ann', 'Bob', 'Claire', 'Dan'])
dict_values(['pizza', 'hamburg', 'fruits', 'steak'])
dict_items([('Ann', 'pizza'), ('Bob', 'hamburg'), ('Claire', 'fruits'), ('Dan', 'steak')])
pizza

In [35]:
for name, food in food_preference.items():
    print(name, 'loves', food)

Ann loves pizza
Bob loves hamburg
Claire loves fruits
Dan loves steak

In [36]:
# del a key-value pair in dict
del food_preference['Ann']
print(food_preference)

{'Bob': 'hamburg', 'Claire': 'fruits', 'Dan': 'steak'}

In [37]:
# clear the whole dit
food_preference.clear()
print(food_preference)

{}

In [38]:
# "in" and "not in" to check whether a key exists or not exists in a dict
food_preference = {'Ann': 'pizza', 'Bob': 'hamburg', 'Claire': 'fruits', 'Dan': 'steak'}
print('Ann is in dictionary:', 'Ann' in food_preference)
print('Ann is not in dictionary:', 'Ann' not in food_preference)

Ann is in dictionary: True
Ann is not in dictionary: False

In [39]:
print(food_preference['Amy'])

KeyError: 'Amy'

In [40]:
# dict.get(key, default value)
print(food_preference.get('Ann', 'not found'))
print(food_preference.get('Amy', 'not found'))

pizza
not found

In [41]:
# set() to create an empty set (無序、元素不重複的集合)
empty_set = set()
print(type(set()))
print(type({}))

<class 'set'>
<class 'dict'>

In [42]:
# set(iterabale object) to collect unique elements
numbers = [5, 1, 9, 1, 9, 2, 6]
print(set(numbers))

{1, 2, 5, 6, 9}

In [43]:
set1 = set(numbers)
print(set1[0])

TypeError: 'set' object does not support indexing

In [44]:
while True:
    input_str = input('input 4 different digits: ')
    answer = list(input_str)
    if len(set(answer)) == 4:
        print('OK')
        break
    else:
        print('NG')

input 4 different digits: 1234
OK

In [45]:
numbers_1 = set([1, 2, 3, 4, 5, 5, 5])
numbers_2 = set([4, 5, 6, 7, 8, 8, 8])
print(numbers_1)
print(numbers_2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [46]:
# set operations
print(numbers_1.intersection(numbers_2))
print(numbers_1.union(numbers_2))
print(numbers_1.difference(numbers_2))
print(numbers_1.symmetric_difference(numbers_2))

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [47]:
print(numbers_1 & numbers_2)
print(numbers_1 | numbers_2)
print(numbers_1 - numbers_2)
print(numbers_1 ^ numbers_2)

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [48]:
numbers_1 = set([1, 2, 2])
numbers_2 = set([0, 1, 2, 3, 3, 4])
print(numbers_1.issubset(numbers_2))
print(numbers_2.issuperset(numbers_1))
print(numbers_1 <= numbers_2)
print(numbers_2 >= numbers_1)

True
True
True
True