In [1]:
# two ways to create an empty list
empty_list_1 = []
empty_list_2 = list()
print('empty_list_1:', empty_list_1)
print('empty_list_2:', empty_list_2)

empty_list_1: []
empty_list_2: []

In [2]:
# list() can convert a string into a list of characters
alphabets_cat = list('cat')
print('alphabets_cat: ', alphabets_cat)

alphabets_cat:  ['c', 'a', 't']

In [3]:
# str.split() to split a string into sub-strings
birthday = '1981/10/12'
birthday = birthday.split('/')
print(f'He was born on {birthday[1]}/{birthday[2]} in {birthday[0]}.')

He was born on 10/12 in 1981.

In [4]:
# str.replace(src_str, dst_str) to replace src_str with dst_str (not an inplace operation)
birthday = '1981/10/12'
birthday = birthday.replace('/', '-')
print(birthday)

1981-10-12

In [5]:
# a list of list
names = ['Ann', 'Bob', 'Claire', 'Ellen']
foods = ['pizza', 'hamburg', 'fruits', 'steak']
list_2D = [names, foods]
print(list_2D)

[['Ann', 'Bob', 'Claire', 'Ellen'], ['pizza', 'hamburg', 'fruits', 'steak']]

In [7]:
# Use index to get values in  a list
print(f'{list_2D[0][2]} loves {list_2D[1][2]}.')

Claire loves fruits.

In [9]:
# list.append(), add a new element to the end of a list
names = ['Ann', 'Bob', 'Claire', 'Ellen']
names.append('Frank')
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', 'Frank']

In [4]:
# This will append a list of two elements to a list
names = ['Ann', 'Bob', 'Claire', 'Ellen']
names.append(['Frank', 'George'])
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', ['Frank', 'George']]

In [5]:
# list.extend() to add multiple elements to a list
names = ['Ann', 'Bob', 'Claire', 'Ellen']
names.extend(['Frank', 'George'])
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']

In [14]:
# use "+" to easily concatenate two lists
names = ['Ann', 'Bob', 'Claire', 'Ellen']
names += ['Frank', 'George']
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']

In [15]:
# list.insert(index, element), insert a new element to the designated position in a list
names = ['Ann', 'Bob', 'Claire', 'Frank']
names.insert(3, 'Ellen')
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', 'Frank']

In [6]:
# list.pop() to take out the last element in a list
names = ['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']
names.pop()
print(names)
# list.pop(index) to take out an element at the designated position in a list
names.pop(2)
print(names)

['Ann', 'Bob', 'Claire', 'Ellen', 'Frank']
['Ann', 'Bob', 'Ellen', 'Frank']

In [8]:
# list.remove() to remove an element from a list
names = ['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']
names.remove('Bob')
print(names)

# del to delete an element at the designated position in a list
del names[2]
print(names)

['Ann', 'Claire', 'Ellen', 'Frank', 'George']
['Ann', 'Claire', 'Frank', 'George']

In [23]:
# list.index(element), get the index of an element in a list
names = ['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']
print(names.index('Bob'))

1

In [9]:
# "in" to check whether an element is in a list, return True or False
print('Ann is in the name list:', 'Ann' in names)

# "not in" to check whether an element is not in a list, return True or False
print('Claire is not in the name list:', 'Claire' not in names)

Ann is in the name list: True
Claire is not in the name list: False

In [10]:
# list.count() to count how many elements are contained in a list
names = ['Ann', 'Bob', 'Claire', 'Ann', 'Frank', 'George']
print('There are', names.count('Ann'), 'Ann in the name list.')

There are 2 Ann in the name list.

In [11]:
# 'string'.join(list) to join all elements in a list, separated by the designated string
names = ['Ann', 'Bob', 'Claire', 'Ellen', 'Frank', 'George']
print('We have', ', '.join(names), 'in the team.')

We have Ann, Bob, Claire, Ellen, Frank, George in the team.

In [30]:
# list.sort() to sort values in a list (default: ascending), inplace operation
num_list = [5, 1, 9, 1, 9, 2, 6]
num_list.sort()
print(num_list)

[1, 1, 2, 5, 6, 9, 9]

In [32]:
# list.sort() to sort values in a list ("reverse" to change the order into descending)
num_list = [5, 1, 9, 1, 9, 2, 6]
num_list.sort(reverse=True)
print(num_list)

[9, 9, 6, 5, 2, 1, 1]

In [12]:
# sorted(): Python's built-in function for sorting, not an inplace operation
num_list = [5, 1, 9, 1, 9, 2, 6]
print(sorted(num_list))
print(num_list)

[1, 1, 2, 5, 6, 9, 9]
[5, 1, 9, 1, 9, 2, 6]

In [13]:
# list.copy() to duplicate a list (different id)
num_list = [5, 1, 9, 1, 9, 2, 6]
num_list_1 = num_list
num_list_2 = num_list.copy()
print(num_list_1)
print(id(num_list_1))
print(num_list_2)
print(id(num_list_2))

# "==" to check whether the values are equal
print(num_list_1 == num_list_2)

# "is" to check whether two objects are identical
print(num_list_1 is num_list_2)

[5, 1, 9, 1, 9, 2, 6]
4557395400
[5, 1, 9, 1, 9, 2, 6]
4558118664
True
False

In [36]:
# Be careful not to accidentally change values of a list unless you want to do it
num_list_2[0] = 0
print(num_list)
print(num_list_1)
print(num_list_2)

[5, 1, 9, 1, 9, 2, 6]
[5, 1, 9, 1, 9, 2, 6]
[0, 1, 9, 1, 9, 2, 6]

In [37]:
# Be careful not to accidentally change values of a list unless you want to do it
num_list_1[0] = 7
print(num_list)
print(num_list_1)
print(num_list_2)

[7, 1, 9, 1, 9, 2, 6]
[7, 1, 9, 1, 9, 2, 6]
[0, 1, 9, 1, 9, 2, 6]

In [14]:
# Three ways to duplicate a list
num_list = [5, 1, 9, 1, 9, 2, 6]
num_list_1 = num_list.copy()
num_list_2 = num_list[:]
num_list_3 = list(num_list)
print(num_list == num_list_1 == num_list_2 == num_list_3)
print(id(num_list))
print(id(num_list_1))
print(id(num_list_2))
print(id(num_list_3))

True
4556781896
4556783176
4556782664
4558232584

In [41]:
# tuple: immutable (elements separated by ",")
fruit_tp = 'apple', 'blueberry', 'cherry'
print(fruit_tp)

('apple', 'blueberry', 'cherry')

In [42]:
# tuple
fruit_tp = ('apple', 'blueberry', 'cherry')  # easier to read with ()
print(fruit_tp)

('apple', 'blueberry', 'cherry')

In [43]:
# tuple unpacking
x, y, z = fruit_tp
print(x)
print(y)
print(z)

apple
blueberry
cherry

In [45]:
# tuple supports indexing
print(fruit_tp[:])
print(fruit_tp[:2])
print(fruit_tp[2])

('apple', 'blueberry', 'cherry')
('apple', 'blueberry')
cherry

In [46]:
# tuple is immutable
fruit_tp[1] = 'berries'

TypeError: 'tuple' object does not support item assignment

In [21]:
# zip()
names = ['Ann', 'Bob', 'Claire', 'Ellen']
foods = ['pizza', 'hamburg', 'fruits', 'steak']
food_preference = dict(zip(names, foods))
print(food_preference)

{'Ann': 'pizza', 'Bob': 'hamburg', 'Claire': 'fruits', 'Ellen': 'steak'}

In [22]:
# key-value pairs in dict
print(food_preference.keys())
print(food_preference.values())
print(food_preference.items())

# dict uses key (unique) to retrieve value
print(food_preference['Ann'])

dict_keys(['Ann', 'Bob', 'Claire', 'Ellen'])
dict_values(['pizza', 'hamburg', 'fruits', 'steak'])
dict_items([('Ann', 'pizza'), ('Bob', 'hamburg'), ('Claire', 'fruits'), ('Ellen', 'steak')])
pizza

In [23]:
# del a key-value pair in dict
del food_preference['Ann']
print(food_preference)

{'Bob': 'hamburg', 'Claire': 'fruits', 'Ellen': 'steak'}

In [24]:
# clear the whole dit
food_preference.clear()
print(food_preference)

{}

In [27]:
# "in" and "not in" to check whether a key exists or not exists in a dict
food_preference = {'Ann': 'pizza', 'Bob': 'hamburg', 'Claire': 'fruits', 'Ellen': 'steak'}
print('Ann is in the keys:', 'Ann' in food_preference)
print('Frank is not in the keys:', 'Frank' not in food_preference)

Ann is in the keys: True
Frank is not in the keys: True

In [28]:
# dict.get(key, default value)
print(food_preference.get('Ann', 'not in the dict'))
print(food_preference.get('Frank', 'not in the dict'))

pizza
not in the dict

In [62]:
# set() to create an empty set
empty_set = set()
print(type(set()))
print(type({}))

<class 'set'>
<class 'dict'>

In [29]:
# set(iterabale object) to collect unique elements
num_list = [5, 1, 9, 1, 9, 2, 6]
print(set(num_list))

{1, 2, 5, 6, 9}

In [33]:
num_list_1 = set([7, 4, 0, 5, 2, 9, 6])
num_list_2 = set([2, 5, 3, 1, 3, 3, 0])
print(num_list_1)
print(num_list_2)

{0, 2, 4, 5, 6, 7, 9}
{0, 1, 2, 3, 5}

In [35]:
# set operations
print(num_list_1.intersection(num_list_2))
print(num_list_1.union(num_list_2))
print(num_list_1.difference(num_list_2))
print(num_list_1.symmetric_difference(num_list_2))

{0, 2, 5}
{0, 1, 2, 3, 4, 5, 6, 7, 9}
{9, 4, 6, 7}
{1, 3, 4, 6, 7, 9}

In [36]:
print(num_list_1 & num_list_2)
print(num_list_1 | num_list_2)
print(num_list_1 - num_list_2)
print(num_list_1 ^ num_list_2)

{0, 2, 5}
{0, 1, 2, 3, 4, 5, 6, 7, 9}
{9, 4, 6, 7}
{1, 3, 4, 6, 7, 9}

In [37]:
num_list_1 = set([5, 2, 5])
num_list_2 = set([7, 4, 0, 5, 2, 9, 6])
print(num_list_1.issubset(num_list_2))
print(num_list_2.issuperset(num_list_1))
print(num_list_1 <= num_list_2)
print(num_list_2 >= num_list_1)

True
True
True
True